<section class="mission">
    <div class="container">
        <div class="mission-image">
            <img src="{{ section.settings.mission_image | img_url : 'master' }}" alt="Image">
        </div>
        <div class="mission-contnet-flex">
            <div class="mission-headline">
                <h2>{{ section.settings.section_heading }}</h2>
            </div>
            <div class="mission-content2">
                {{ section.settings.section_brief }}
                {% render 'anchor-snippet', class: 'head-buy', button_text: section.settings.button_text, button_url: section.settings.button_url %}
            </div>
        </div>
    </div>
</section>



{% schema %}
  {
    "name": "Health Mission",
    "settings": [
        {
          "type":"image_picker",
          "id":"mission_image",
          "label":"Choose Image"
        },
        {
          "type":"text",
          "id":"section_heading",
          "label":"Section Heading"
        },
        {
          "type":"richtext",
          "id":"section_brief",
          "label":"Section Brief"
        },
        {
          "type":"url",
          "id":"button_url",
          "label":"Button URL"
        },
        {
          "type":"text",
          "id":"button_text",
          "label":"Button Text"
        }
    ],
    "presets": [
        {
          "name": "Health Mission"
        }
    ]
  }
{% endschema %}