<!-- PDP Image Slider-->
<div class="inbox-slider-wrapper">
    <div class="container">
        <div id="in-box-slider" class="owl-carousel owl-theme">
            {% for block in section.blocks %}
                {% case block.type %}
                       {% when 'item' %}
                            {% if block.settings.heading != blank and block.settings.image != blank %} 
                                <div class="item">
                                    <div class="light-rng">
                                        <a href="{{ block.settings.button_link | default: "javascript:void(0)" }}">                                  
                                            {% render 'image-snippet', image: block.settings.image, lazyload: 'eager', height: 630, width: 630 %}
                                            <h3> {{ block.settings.heading }} </h3>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
             {% endcase %}
         {% endfor %}
        </div> 
    </div>
</div>

{% schema %}
    {
        "name": "Product Images Slider",
        "settings": [],
        "blocks": [
            {
                "type": "item",
                "name": "Item",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading",
                        "default": "All Week Battery Life"
                    },
                    {
                        "type": "url",
                        "id": "button_link",
                        "label": "Link"
                    }
                ]
            }
        ]
    }
{% endschema %}
