<section class="in-box">
    <div class="container">
        <div class="in-box-cntnt">
            {% if section.settings.heading != blank %}
                <h2> {{ section.settings.heading }} </h2>                
            {% endif %}
            <div class="in-box-images">
                <div class="product-accessories">
                    <div class="product-accessoriesBox">
                        <img src="{{ section.settings.image |  image_url: width: 1320  }}" alt="{{ section.settings.image.alt }}" height="" width="1320" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Product Box",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "What's in the box"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            }
        ]
    }
{% endschema %}