.available-colors-sub img{
    width: 250px;
}


.sizing-kit {
    border-radius: 8px;
    position: relative;
     background-color: rgb(238, 238, 238);
     padding: 10px;
     border:  1px solid transparent;
}

.sizing-kit.kit-parent-active {
     border:  .1rem solid rgb(var(--color-foreground));
}

.sizing-kit > label {
    cursor: pointer;
}

.button-content {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.button-content .img {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.button-content .content {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 4px;
}

.sizing-kit .tag {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 2px 6px;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1.15px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.15);
    color: rgb(0, 0, 0);
}

.factors-sub-headline h2 {
    max-width: 310px;
}

.plus-icon.active-p2 {
    opacity: 1;
    transform: rotate(45deg);
}

.plus-icon {
    transition: .4s ease-in-out;
}

.factors-sub-contnet-link a {
    display: inline-flex;
    min-width: 128px;
    text-align: center;
    height: 44px;
    align-items: center;
    justify-content: center;
    line-height: normal;
}

.factors-sub-headline h2 {
    font-weight: 600;
}

.factors-sub-contnet-link {
  display: block;
}

.plus-icon img {
  display: block;
}

.rcmnd-bnr img {
    max-height: 660px;
}

.mirror-ring {
  background: none;
}

#shopify-section-template--16851033718877__rings_slideshow_Fe4R6w .mirror-ring {
    border-radius: 0px;
    padding-bottom: 15px;
    background: linear-gradient(180deg, #FFF 0%, #F1F7FD 7.99%);
    margin: 0 0 -20px;
}

#shopify-section-template--16851033718877__perfect_factor_bf6ehP .mirror-ring {
    background-color: #F1F7FD;
}

.flg-content p {
    letter-spacing: 0px;
}

.flg-content p {
    letter-spacing: 0px;
}

#shopify-section-template--16851033718877__health_mission_e3HCRn .mission {
    padding-bottom: 0px;
    border-radius: 0px;
    margin-bottom: -5px;
}

.policy ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.policy ul li a {
    color: var(--For-Paragraphs, #344757);
    font-family: "General Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    position: relative;
    display: block;
    text-transform: capitalize;
}

.copyright__content {
    font-size: large;
}

.policy ul li {
    display: block;
    position: relative;
}

.policy ul li::after {
    content: "";
    position: absolute;
    right: -8px;
    width: 2px;
    background-color: var(--For-Paragraphs, #344757);
    height: 100%;
    top: 0;
    bottom: 0;
}

.policy ul li:last-child::after {
    display: none;
}

.button-content .content {
    width: calc(100% - 70px);
}

#ring-sample-kit{
    display: none;
}

.sample-kit-heading {
    font-size: 20px;
    font-family: 'General Sans';
}

.sample-kit-text {
    font-size: 13px;
    margin-bottom: 10px;
    font-family: 'General Sans';
}
.hme-header {
    background: transparent;
}

.scrolled-past-header .hme-header {
    background: rgb(var(--color-background));
    background: var(--gradient-background);
}


@media (min-width: 1200px) {
    .sizing-kit .tag.desktop {
        display: block;
    }
    .sizing-kit .tag.mobile {
        display: none;
    }
}
@media screen and (max-width: 989px) {
    .header {
        grid-template-areas:
            "heading icons left-icons";
        grid-template-columns: 2fr 1fr auto;
    }
    .header__heading, .header__heading-link {
        margin-right: auto;
    }
}

@media only screen and (max-width: 600px) {
  .policy ul {
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
  }
  .policy ul li a {
      font-size: 11px;
  }
  .policy ul li::after {
      right: -6px;
      width: 1px;
  }
}